<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Luma Project">
    <parameter name="browser" value="chrome">Chrome</parameter>
    <test name="Integration" preserve-order="true">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.CheckOutTest"/>
            <class name="tests.WishListTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.AddReviewTest"/>
            <!--<class name="tests.CompareTest"/>-->
            <class name="tests.HoverMenuTest"/>
            <class name="tests.SearchTest"/>
        </classes>
    </test>
</suite>